{{! ciclo for in Handlebars }}
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Operaciones</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
    <tr>
        <td>{{@index}}</td>
        <td>
            {{title}}
        </td>
        <td>
            {{description}}
        </td>
        <td>
            {{!-- conditional if in Handlebars --}}
            {{#if done }}
              <a href="/tasks/{{_id}}/toggleDone">Pendiente</a>
            {{else}}
             <a href="/tasks/{{_id}}/toggleDone">Hecha</a>
            {{/if}} 

            <a href="/tasks/{{_id}}/delete">Eliminar</a>
            <a href="/tasks/{{_id}}/edit">Editar</a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>