{{! ciclo for in Handlebars }}
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Operaciones</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
    <tr>
        <td>{{@index}}</td>
        <td>
            {{title}}
        </td>
        <td>
            {{description}}
        </td>
        <td>
            <button>Hecha</button>
            <a href="/delete/{{_id}}">Eliminar</a>
            <a href="/edit/{{_id}}">Editar</a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>